@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap');

/* CSS HARD RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* modularity begins here */
#main {
	transition: all 0.5s;
	background-color: white;
}

#header {
	background: rgb(189,32,49);
	background: linear-gradient(90deg, rgba(189,32,49,1) 29%, rgba(226,108,43,1) 43%, rgba(189,32,49,1) 58%, rgba(226,84,43,1) 76%, rgba(189,32,49,1) 100%);
	overflow: hidden;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	align-items: center;
	box-shadow: 0 8px 6px -6px black;
	font-family: 'Oswald', sans-serif;
}

.content {
	float: left;
	text-align: center;
	padding: 15px;
	align-items: center;
}

#menu {
	color: white;
	background-color: #BD2031;
	border-style: none;
	font-size: 320%;
}

#menu:hover {
	text-shadow: 1px 1px 5px black;
}

#courseName {
	font-size: 300%;
	color: white;
	font-family: 'Oswald', sans-serif;
}

#mainContent {
	display: block;
}

#icon {
	height: 50%;
	text-align: center;
	justify-content: end;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 10px;
}

#mySidebar {
	transition: all 0.5s;
	position: fixed;
	display: block;
	height: 90%;
	text-align: center;
	grid-template-columns: 100%;
	grid-template-rows: 10% 10% 10% 10% 10%;;
	padding: 15px;
}

.navbar {
	float: left;
	text-align: center;
	padding: 15px;
	align-items: center;
}

.links {
	width: 100%;
	font-family: 'Oswald', sans-serif;
	color: #110336;
	text-decoration: none;
	margin-top: 15px;
	font-size: 200%;
	text-align: initial;
}

.links:hover {
	text-shadow: 1px 1px 5px #6B6B6A;
}

.close {
	font-family: 'Oswald', sans-serif;
	color: #BD2031;
	background-color: white;
	border-style: none;
	font-size: 250%;
}

.close:hover {
	text-shadow: 1px 1px 5px #BD2031;
}

#mainContent {
	padding: 100px;
	width: 90%;
	margin: auto;
}

.sticky + #mainContent {
  padding-top: 200px;
}

#firstHalf {
	margin-left: 100px;
	display: grid;
	grid-template-columns: 30% 50%;
	grid-gap: 50px;
	align-items: center;
}

.map {
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
	font-size: 200%;
	background-color: #110336;
	font-family: 'Oswald', sans-serif;
	color: white;
}

#cps {
	padding: 15px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	height: 90%;
	border: 1px solid gray;
}

.seatingHeader {
	font-size: 120%;
	padding: 15px;
	font-family: 'Oswald', sans-serif;
}

#queueObj {
	font-family: 'Oswald', sans-serif;
	margin: 100px;
	-moz-box-shadow:    inset 0 0 10px gray;
    -webkit-box-shadow: inset 0 0 10px gray;
	   box-shadow:         inset 0 0 10px gray;
	   padding: 15px;
}

.cpDisplay {
	display: grid;
	grid-template-columns: 35% 65%;
	flex: 0 0 auto;
	width: 100%;
	height: 90%;
}

.cpimg {
	align-self: center;
	padding: 30px;
	width: 80%;
	height: 80%;
	object-fit: cover;
}

.cpName {
	font-size: 200%;
	padding: 30px;
	align-self: center;
	padding-left: 15%;
}

#queueHeader {
	color: white;
	font-size: 200%;
	font-family: 'Oswald', sans-serif;
}


#queue {
	font-size: 50%;
	display: block;
	padding: 20px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	height: 250px;
	background-color: none;
}

.remove {
	margin: none;
	height: 10%;
	text-align: end;
}

.queueDisplay {
	flex: 0 0 auto;
	text-align: center;
}

.queueText {
	font-size: 120%;
	color: white;
	padding: 15px;
	background-color: #110336;
	font-family: 'Oswald', sans-serif;
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}

.img {
	padding: 15px;
	align-self: center;
	width: 75%;
	height: 75%;
	object-fit: cover;
	margin: auto;
}

.studentimg {
	padding: 15px;
	align-self: center;
	width: 75%;
	height: 75%;
	object-fit: cover;
}

.studentName {
	color: #110336;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

#add {
	border-radius: 15px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 80%;
	font-family: 'Oswald', sans-serif;
	background-color: #ccc;
	background-image: linear-gradient(#ccc, white);
}

.remove {
	font-family: 'Open Sans', sans-serif;
	background-color: #BD2031;
	background-image: linear-gradient(#d95562, #BD2031);
	color: white;
	border-style: none;
	border-radius: 10px;
}

