@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap');

img
{
	display:block;
	width:5%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
}

h1
{
	font-family: sans-serif;
	font-weight: 200;
	font-size: 75px;
	color: #BD2031;	
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

input
{
	display: block;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	font-size: 20px;
	border-radius: 10px;
	border: 1px solid #110336; 
	color: #110336;
	padding: 10px;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}
::-webkit-input-placeholder {
  color: #BD2031;
  visibility: visible;
}
::-moz-placeholder {
  color: #BD2031;
  visibility: visible;
}
:-ms-input-placeholder {
  color: #BD2031;
  visibility: visible;
}
::placeholder {
  color: #BD2031;
  visibility: visible;
}


button, a
{
	border: 2px solid white;
	color: white;
	display: block;
	margin: 40px auto;
	width: 26%;
	padding: 10px 0;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;
	border-radius: 10px;
	background: rgb(189,32,49);
	background: linear-gradient(90deg, rgba(189,32,49,1) 29%, rgba(226,108,43,1) 43%, rgba(189,32,49,1) 58%, rgba(226,84,43,1) 76%, rgba(189,32,49,1) 100%);
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}

a
{
	margin-top: 5px;
	background: none;
	color: #BD2031;
}

.radios
{
	display: flex;
	width: 25%;
	margin:auto;
	color: #BD2031;
	font-family: 'Open Sans', sans-serif;
	margin-top: 25px;
	font-size: 20px;
}

.radios > * {
	flex: 1 0 auto;
}

.radios input {
	display: inline-block; 
}

p
{
	margin: 0;
}

a#imageButton
{
	display:block;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;

}