/* CSS HARD RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* modularity begins here */
#main {
	transition: all 0.5s;
	background-color: white;
}

#header {
	background-color: #BD2031;
	overflow: hidden;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	align-items: center;
}

.content {
	float: left;
	text-align: center;
	padding: 15px;
	align-items: center;
}

#menu {
	color: white;
	background-color: #BD2031;
	border-style: none;
	font-size: 320%;
}

#results {
	display: block;
}

#icon {
	height: 50%;
	text-align: center;
	justify-content: end;
}

.container {
	padding: 15px;
	display: grid;
	grid-template-columns: 15% 60% 25%;
	align-items: center;
}

a {
	object-fit: cover;
}

.img {
	align-self: center;
	padding: 30px;
	width: 80%;
    height: 80%;
    object-fit: cover;
}

.status {
	padding: 20%;
	align-self: start;
}

h2 {
	font-weight: bold;
	font-size: 200%;
	padding: 1%;
	padding-left: 3%;
}

h3 {
	font-size: 150%;
	padding: 1%;
	padding-left: 3%;
}

p {
	font-size: 100%;
	padding: 1%;
	padding-left: 3%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 10px;
}

.sticky + #results {
  padding-top: 100px;
}

#mySidebar {
	transition: all 0.5s;
	position: fixed;
	display: block;
	height: 90%;
	text-align: center;
	grid-template-columns: 100%;
	grid-template-rows: 10% 10% 10% 10%;
	padding: 15px;
}

.navbar {
	float: left;
	text-align: center;
	padding: 15px;
	align-items: center;
}

.links {
	color: #6B6B6A;
	text-decoration: none;
	margin-top: 15px;
	font-size: 200%;
}

.close {
	color: #BD2031;
	background-color: white;
	border-style: none;
	font-size: 250%;
}

#filter {
	padding: 10px;
	width: 95%;
	border-style: none;
	border-radius: 25px;
	background-color:#DDD;
	display: grid;
	grid-template-columns: 20% 80%;
	color: #BD2031;
}

#search {
	float: right;
	padding-right: 15px;
	width: 3%;
	height: 3%;
}

#textbox {
	border-style: none;
	background-color:#DDD;
	color: #BD2031;
	font-size: 120%;
}