@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap');

/* CSS HARD RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* modularity begins here */
#main {
	transition: all 0.5s;
	background-color: white;
}

#header {
	background: rgb(189,32,49);
	background: linear-gradient(90deg, rgba(189,32,49,1) 29%, rgba(226,108,43,1) 43%, rgba(189,32,49,1) 58%, rgba(226,84,43,1) 76%, rgba(189,32,49,1) 100%);
	overflow: hidden;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	align-items: center;
	box-shadow: 0 8px 6px -6px black;
	font-family: 'Oswald', sans-serif;
}

.content {
	float: left;
	text-align: center;
	padding: 15px;
	align-items: center;
	justify-content: center;
}

#menu {
	color: white;
	background-color: #BD2031;
	border-style: none;
	font-family: 'Oswald', sans-serif;
	font-size: 320%;
}

#menu:hover {
	text-shadow: 1px 1px 5px black;
}

#icon {
	height: 50%;
	text-align: center;
	justify-content: end;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 10px;
}

.sticky + #settings {
  padding-top: 200px;
}



#mySidebar {
	transition: all 0.5s;
	position: fixed;
	display: block;
	height: 90%;
	text-align: center;
	grid-template-columns: 100%;
	grid-template-rows: 10% 10% 10% 10% 10%;;
	padding: 15px;
}

#settingsHead {
	font-family: 'Oswald', sans-serif;
	font-size: 300%;
	color: white;
	text-align: center;
}

.navbar {
	float: left;
	text-align: center;
	padding: 15px;
	align-items: center;
}

.links {
	width: 100%;
	font-family: 'Oswald', sans-serif;
	color: #110336;
	text-decoration: none;
	margin-top: 15px;
	font-size: 200%;
	text-align: initial;
}

.links:hover {
	text-shadow: 1px 1px 5px #6B6B6A;
}

.close {
	font-family: 'Oswald', sans-serif;
	color: #BD2031;
	background-color: white;
	border-style: none;
	font-size: 250%;
}

.close:hover {
	text-shadow: 1px 1px 5px #BD2031;
}

#settings {
	color: white;
	width: 80%;
	margin: auto;
	padding: 100px;
}

#settingsHeader {
	padding: 10px;
	font-family: 'Oswald', sans-serif;
	margin: none;
	height: 30%;
	display: grid;
	grid-template-columns: 10% 90%;
	align-items: center;
	background-color: #110336;
	font-size: 150%;
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}

#settingsIcon {
	align-self: center;
	width: 75%;
	height: 75%;
	object-fit: cover;
	margin: auto;
}

input {
	padding: 8px;
	font-size: 120%;
	border-style: none;
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}

input[type=submit] {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 180%;
	font-family: 'Oswald', sans-serif;
	background-color: #ccc;
	background-image: linear-gradient(#ccc, white);
}

#settingstext {
	font-size: 200%;
	font-family: 'Oswald', sans-serif;
}

p {
	font-size: 120%;
	font-family: 'Open Sans', sans-serif;
	padding-top: 10px;
}

#userPref {
	padding: 25px;
	margin-top: 50px;
	background-color: #110336;
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}

#cp {
	margin-top: 50px;
	background-color: #110336;
	padding: 15px;
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}

h2 {
	font-size: 180%;
	padding-bottom: 15px;
	font-family: 'Oswald', sans-serif;
}

/* The switch - the box around the slider */
.switch {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #e26c2b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e26c2b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}